@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B4D2F4;
    width: 1180px;
    height: 80;
    margin-left: 358px;
    margin-right: 358px;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;

    /* Logo */
    & .imgLogo {
        width: 200px;
    }

    /* Menu */
    & .menu {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        list-style: none;
    }

}

h1 {
    text-align: center;
    font-family: 'Mochiy Pop P One';
    color: #1B4D87;
    padding: 10px;
    align-items: flex-start;
}

.menu li a {
    text-decoration: none;
    color: #1B4D87;
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 18px;
}

.menu li a:hover {
    color: #007bff;
}

/* Social icons */
.social-icons {
    display: flex;
    gap: 15px;
    /* Ajustado para maior largura */
}

.imgSocias {
    width: 33px;
    height: 35.47px;
}

.imgSocias2 {
    width: 26px;
    height: 24.27px;
    margin: auto;
}

/* Grid Layout */
.grid-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    margin-left: 358px;
    margin-right: 358px;
    height: 500px;
    width: 1180px;

    & .banner-left {
        grid-row: 1 / span 2;
    }

    & .banner {
        width: 710px;
        height: 500px;
        border-radius: 20px;
    }

    & .banner2 {
        width: 450px;
        height: 240px;
        border-radius: 20px;
    }

    & .banner3 {
        width: 450px;
        height: 240px;
        border-radius: 20px;
        display: block;
        margin-top: 10px;
    }
}
footer {
    background: #B4D2F4;
    height: 310px;
    width: 1180px;
    margin-left: 358px;
    margin-right: 358px;
}